
<h1>All Assignments</h1>
<a href="/users">Home</a>
<br>
    <%@user.assignments.reverse.each do |assignment|%>
        <br>
        <div style = "white-space: pre-line;">
            <%=assignment.created_at.strftime("%b %d, %Y")%>
            <%=assignment.content%>
        </div>>
        <br>         
        <hr style="width:50%;text-align:left;margin-left:0">
    <%end%>
