<h1>New Assignment</h1>

<form method="POST" action="/assignments">
<input type="text" name="content">
<input type="hidden" name="student_id" id="student_id" value="<%=@student.id%>">
<input type="submit" value="Save">
</form>