<!DOCTYPE HTML>
<img style='vertical-align:middle;' src="/images/logo.png" alt="logo" height="100" display="inline">
<div style='vertical-align:middle; display:inline; font-size: 36px; line-height: 54px;'>
     Welcome to MyStudio!
</div>

<h3> Please <a href="/users/signup"> sign-up</a> or login below:</h3>
<form method="POST" action="/users/login">
    <label>Email:</label>
    <input type="text" name="email">
    <label>Password:</label>
    <input type="password" name="password">
    <input type="submit" value="Login">
</form>
