<img style='vertical-align:middle;' src="/images/logo.png" alt="logo" height="100" display="inline">
<div style='vertical-align:middle; display:inline; font-size: 36px; line-height: 54px;'>
     Welcome to MyStudio!
</div>
<h3>Please sign-up below:</h3>
<p>
    <form method="POST" action="/users">
        <label>Name:</label>
        <input type="text" name="user[name]">
        <br>
        <br>
        <label>Phone:</label>
        <input type="text" name="user[phone_number]">
        <br>
        <br>
        <label>Email:</label>
        <input type="text" name="user[email]">
        <br>
        <br>
        <label>Password:</label>
        <input type="password" name="user[password]">
        <br>
        <br>
       <label for="teacher_id">Choose a teacher:</label>
        <select name="user[teacher_id]">
            <%@teachers.each do |teacher|%>
                <option value="<%=teacher.id%>"><%=teacher.name%></option>
            <%end%>
                <option value="nil">Teacher</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Create Profile">
    </form>
</p>
