<h1>Welcome, <%=@user.name%>!</h1>

<a href="/teachers/<%=@user.id%>" class="sidebar">Account Details<a>

<h3>Current Students:</h3>
<br>
<%@students.each do |student|%>
    <a href="/teachers/students/<%=student.id%>"> <%=student.name%> </a>
    <br>
<%end%>
<br>