<h1>Welcome to MyStudio!</h1>
<h3> Please <a href="/teachers/new"> sign-up</a> or login below:</h3>
<form method="POST" action="/teachers/index">
    <label>Email:</label>
    <input type="text" name="email">
    <label>Password:</label>
    <input type="text" name="password">
    <input type="submit" value="Login">
</form>