<h1>Profile</h1>
 
<ul>
    Name: <%=@user.name%>
    <br>
    <br>
    Phone: <%=@user.phone_number%>
    <br>
    <br>
    Email: <%=@user.email%>
    <br>
    <br>
    <a href="/teachers">Home</a> | <a href="/teachers/<%=@user.id%>/edit">Edit Profile</a>
</ul>
